!!! 5
%html
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    %title Lonely Planet
    %link(href="static/all.css" media="screen" rel="stylesheet" type="text/css")
  %body
    #container
      #header
        #logo
        %h1 Lonely Planet: {DESTINATION NAME}
      #wrapper
        #sidebar
          .block
            %h3 Navigation
            .content
              .inner
                %ul.navigation
                  %li
                    %a(href='#') x
                  %li
                    %a(href='#') x
                  %li
                    %a(href='#') x
                  %li
                    %a(href='#') x

        #main
          .block
            .secondary-navigation
              %ul
                %li.first
                  %a{ href: '#' }
                    {DESTINATION NAME}
                %li
                  %a(href='#') x
                %li
                  %a(href='#') x
                %li
                  %a(href='#') x
              .clear

            .content
              .inner
                %p Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini. Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot squash brussels sprout chard.
                %p Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.
                %p  Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip. Sea lettuce lettuce water chestnut eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce parsley jicama salsify.
